<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/logo-small.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Избори България - Архиви</title>
</head>

<body>
    {{>login}}
    {{>header}}
    <div id="archive-info">
        <h1>Архивни данни от последните подобри избори</h1>
        <h3>Електорални нагласи на финала на предизборната кампания</h3>
        <p>В навечерието на изборите за 45-то Народно събрание се отчита запазващо се високо за България
            намерение за
            участие в изборите. Според проучванията 62% от живеещите в страната приблизително 6 млн. пълнолетни
            граждани
            заявяват, че ще отидат до урните. Близо половината от тях са позитивно настроени към проекта за
            интернет
            гласуване.</p>
        <p>През последната седмица преди вота рязко нараства делът на хората, които вече са направили своя избор
            кого да
            подкрепят. До 12 на сто намаляват сигурните, че ще гласуват избиратели, но все още не взели
            окончателно
            решение чия бюлетина ще пуснат. Макар този дял да изглежда нисък, става въпрос за малко над 360 000
            души.
            При запазващите се къси дистанции между партиите, тези избиратели могат да се окажат решаващи за
            различните
            следизборни сценарии.</p>
        <div id="archive-flex">
            <div>
                <h3>Избирателна активност, отчетена в деня на изборите</h3>
                <img src="/img/activnost.jpg" class="toShow">
            </div>
            <div>
                <h3>Оценка на дейността на Народното събрание в минали години</h3>
                <img src="/img/evaluation-for-parliament.png" class="toShow">
            </div>
        </div>
        <h3>Честота на ползване на интернет</h3>
        <p>Старо изследване за честотата на ползване на интернет от българските граждани недвусмислено показва, че
            населението става все по-активно в интернет пространството. Данните не се изменят драстично и към момента.
            Дълг на институциите е да следват прогреса и да автоматизират до колкото е възможно процесите си. Това
            допринася за удобство и на служители, и на потребители.</p>
        <img src="/img/internet.png" class="toShow">
    </div>
    {{>footer}}
    <script type="text/javascript" src="/js/bundle.js"></script>
</body>

</html>