<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/logo-small.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Избори България - Контакти</title>
</head>

<body>
    {{>login}}
    {{>header}}
    <div id="contacts-container">
        <div class="contacts-item">
            <h1>“Избори България“</h1>
            <p>Интернет платформа, в която можете да се информирате за конкретните предстоящи избори в България и да
                гласувате от всяко място.*
                <br><span>*одобрено от Република България</span>
            </p>
            <h4>Адрес:</h4>
            <p>България, София</p>
            <h4>Електронна поща:</h4>
            <p>izbori@bulgaria.com</p>
            <h4>Телефон:</h4>
            <p>+359 123 456 789</p>
        </div>
        <div class="contacts-item">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d187673.30869582982!2d23.18386242391098!3d42.69534680269996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8682cb317bf5%3A0x400a01269bf5e60!2z0KHQvtGE0LjRjw!5e0!3m2!1sbg!2sbg!4v1579092624169!5m2!1sbg!2sbg"
                allowfullscreen=""></iframe>
        </div>
    </div>
    {{>footer}}
    <script type="text/javascript" src="/js/bundle.js"></script>
</body>

</html>