<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/logo-small.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Избори България - ЧЗВ</title>
</head>

<body>
    {{>login}}
    {{>header}}
    <h1 id="faq-title">Често задавани въпроси</h1>

    <div id="accordion">
        <h3>1.Кой има право да гласува в изборите за народни представители?</h3>
        <div>
            <p>Право да гласуват в изборите за народни представители имат всички
                български граждани, които:
                <ul>
                    <li>са навършили 18 години към изборния ден включително;</li>
                    <li>не са поставени под запрещение;</li>
                    <li>не изтърпяват наказание лишаване от свобода.</li>
                </ul>
            </p>
        </div>
        <h3>2. Как се образуват избирателни секции?</h3>
        <div>
            <p>В страната:</p>
            <ul>
                <li>Кметът на общината образува със заповед избирателните секции на територията на общината,
                    като утвърждава тяхната номерация, обхват и адрес.</li>
            </ul>
            <p>В една избирателна секция се включват до 1000 избиратели.</p>
            <p>В населените места се образуват толкова секции, колкото пъти числото 1000 се съдържа в броя
                на избирателите. При наличие на остатък може да се образува допълнителна секция.</p>
            <p>При териториално обособени населени места кметът на общината може да образува секции с не
                по-малко от 20 избиратели.</p>
            <p>Избирателни секции се образуват в лечебни заведения, домове за стари хора и други
                специализирани институции за предоставяне на социални услуги и намиращите се извън страната
                плавателни съдове под българско знаме при наличие на не по-малко от 10 избиратели.</p>
            <p>Когато в сграда с повече от един етаж има секция и на горните етажи, Районната избирателна
                комисия с решение определя секция на първия етаж, която е с най-малък брой избиратели по
                избирателен списък, за гласуване на избиратели с увредено зрение или със затруднения в
                придвижването. Пред избирателната секция се поставят табели и други обозначителни знаци, на
                които се отбелязва допълнителното й предназначение.</p>
            <p>Извън страната:</p>
            <p>Избирателни секции извън страната се образуват:</p>
            <ul>
                <li>където има дипломатическо или консулско представителство;</li>
                <li>при наличие на не по-малко от 60 избиратели, заявили желание да гласуват - (Приложение №
                    21-НС от изборните книжа).</li>
            </ul>
            <p>Предварително условие за произвеждането на избори извън страната и за образуването на секции
                извън страната е получаването на съгласие от съответната държава, като ръководителите на
                дипломатическите и консулските представителства на Република България задължително официално
                се обръщат до приемащата държава с искане за получаване на това съгласие.</p>
            <p>При наличие на съответно съгласие на приемащата държава избирателни секции се образуват в
                дипломатическите и в консулските представителства на Република България, в сгради извън тях
                или в места, в които няма български дипломатически или консулски представителства.</p>
            <p>Общият брой на избирателните секции, които се образуват в една държава, която не е членка на
                Европейския съюз, не може да надвишава 35.</p>
        </div>
        <h3>3. Как се назначава секционна избирателна комисия?</h3>
        <div>
            <p>В страната:</p>
            <p>Районната избирателна комисия назначава секционните избирателни комисии в страната след проведени
                консултации при кмета на съответната община. В консултациите
                участват парламентарно представените партии и коалиции. В консултациите могат да участват и
                други партии и коалиции. Участниците представят писмено предложение за състав на секционните
                избирателни комисии, съдържащо имената на предложените лица.</p>
            <p>За членове на секционна избирателна комисия се назначават лица, които имат право да гласуват
                в съответния вид избор и владеят български език.</p>
            <p>Извън страната:</p>
            <p>Централната избирателна комисия назначава секционните избирателни комисии извън страната след проведени
                консултации. В консултациите участват парламентарно
                представените партии и коалиции. Участниците представят писмено предложение за състав на
                секционните избирателни комисии, съдържащо имената на предложените лица.</p>
            <p>Във всяка една секционна избирателна комисия извън страната се назначава по един член,
                предложен от министъра на външните работи или от оправомощен от него заместник-министър.</p>
            <p>Когато партия и коалиция не е направила предложение, Централната избирателна комисия
                назначава за членове на секционните избирателни комисии лица, предложени от ръководителите
                на съответните дипломатически или консулски представителства, или от министъра на външните
                работи, или от оправомощен от него заместник-министър.</p>
        </div>
        <h3>4. Как се гласува, когато срокът на документа за самоличност е изтекъл?</h3>
        <div>
            <p>В страната:</p>
            <p>Когато личната карта е с изтекъл срок на валидност, повредена, унищожена, изгубена,
                открадната или в процес на издаване, избирателят се допуска до гласуване при представяне на
                удостоверение от органите на МВР за издаване на лични документи.</p>
            <p>Извън страната:</p>
            <p>Когато срокът на валидността на личната карта или паспорта е изтекъл, избирателят се допуска
                до гласуване, ако представи удостоверение, издадено от дипломатическото или консулско
                представителство на Република България, че е подал заявление за издаване на нов паспорт или
                лична карта.</p>
        </div>
        <h3>5. Може ли да се гласува в избирателна секция, различна от секцията по постоянния адрес на избирателя?</h3>
        <div>
            <p>В избирателна секция, различна от секцията по постоянния адрес на избирателя, може да се
                гласува при следните условия:</p>
            <ul>
                <li>лица с увредено зрение или със затруднения в придвижването - като попълнят декларация по
                    образец (Приложение № 17-НС от изборните книжа);</li>
                <li>с удостоверение за гласуване на друго място - това са кандидатите за народни
                    представители, членове на ЦИК, членове на РИК и наблюдателите (Приложение № 19-НС от
                    изборните книжа);</li>
                <li>при подадено заявление за гласуване по настоящ адрес (по електронен път или писмено -
                    Приложение № 12-НС от изборните книжа) до общинската администрация по настоящия му
                    адрес;</li>
                <li>ученици или студенти, редовно обучение (виж въпрос 18);</li>
                <li>лица, заети с произвеждането на изборите в изборния ден – членове на СИК и охрана (виж
                    въпрос 19).</li>
            </ul>
            <p>След вписването на избирател в избирателния списък по настоящ адрес не може да му се издава
                удостоверение за гласуване на друго място.</p>
        </div>
        <h3>6. Какви са Вашите права в изборния ден?</h3>
        <div>
            <p>Гласуването се извършва в секцията по постоянния адрес на избирателя.</p>
            <ul>
                <li>Ако не сте вписан в избирателния списък за гласуване, но имате право да гласувате,
                    можете да поискате да бъдете вписан в допълнителната страница на списъка;</li>
                <li>Да оспорвате отказа на СИК да Ви допише в избирателния списък в изборния ден, ако имате
                    право да гласувате. Отказът на СИК е писмен. Длъжни са да Ви го връчат и можете да го
                    оспорвате пред РИК, която се произнася по жалбата незабавно.</li>
            </ul>
            <p>При установяване в изборния ден, че сте вписан в списъка на заличените лица, имате право да
                гласувате, ако:</p>
            <ul>
                <li>представите удостоверение, че е отпаднало основанието или не е налице основание за
                    вписването Ви в списъка;</li>
                <li>се явите в избирателната секция по постоянен адрес, когато е издадено удостоверение за
                    гласуване на друго място или сте вписан в списъците на лицата, заявили, че ще гласуват
                    извън страната;</li>
                <li>да искате от член на СИК точното вписване на данните от документа Ви за самоличност в
                    избирателния списък.</li>
            </ul>
            <p>В случай че сгрешите бюлетината, следва да проследите дали сгрешената бюлетина се унищожава,
                без да се разгъва, с надпис „СГРЕШЕНА"; сгрешената бюлетина се подпечатва с печата на СИК и
                се подписва от председателя, секретаря и друг член на СИК. Сгрешените бюлетини се описват в
                протокол на комисията.</p>
        </div>
        <h3>7. Кои лица присъстват при отварянето на избирателните кутии и установяването на резултатите от гласуването
            в секцията?</h3>
        <div>
            <p>При отварянето на избирателните кутии и установяването на резултатите от гласуването в секцията могат да
                присъстват:</p>
            <ul>
                <li>кандидати за народни представители;</li>
                <li>по един застъпник на кандидатската листа;</li>
                <li>по един представител на партия, коалиция или инициативен комитет;</li>
                <li>по един наблюдател от организация, регистрирана за наблюдение на изборите;</li>
                <li>по един регистриран анкетьор от регистрирана социологическа агенция, която се легитимира с
                    удостоверение;</li>
                <li>представители на средствата за масово осведомяване - по един от съответното средство за масово
                    осведомяване.</li>
            </ul>
        </div>
        <h3>8. Как могат да гласуват дипломанти, курсанти и докторанти?</h3>
        <div>
            <p>Студентите – редовна форма на обучение във висше учебно заведение, които не разполагат с надлежно
                заверена от учебното заведение за съответния семестър студентска книжка, включително дипломанти,
                курсанти, докторанти и др., могат да гласуват в изборите за народни представители на 26 март 2017 г. по
                реда на чл. 241 от Изборния кодекс, след като се явят в избирателна секция по избор в населеното място,
                където се обучават, когато то е различно от населеното място по постоянен адрес, след представяне на
                документ за самоличност, удостоверителен документ (уверение, служебна бележка и др.), издаден от
                учебното заведение със седалище в съответното населено място, който да послужи пред СИК и от който да е
                видно, че лицето се обучава редовна форма на обучение в съответното висше учебно заведение за учебната
                2016/2017 г.</p>
            <p>При гласуването лицата подават декларация – Приложение № 17-НС от изборните книжа, че не са гласували и
                няма да гласуват на друго място.</p>
            <p>Лицата се дописват в избирателния списък под чертата и се допускат да гласуват, като в удостоверителния
                документ се отбелязват датата на гласуването, номерът на секцията и се вписва „гласувал“, след което
                документът се подписва от председателя и секретаря и се подпечатва с печата на СИК. Декларацията се
                прилага към избирателния списък и е неразделна част от него.</p>
        </div>
        <h3>9. В деня на изборите ще бъда извън страната в държава, в която няма избирателна секция. Какво следва да
            направя,
            за да не изгубя правото си за гласуване на следващи парламентарни избори?</h3>
        <div>
            <p>Гласуването е задължително, извършва се лично от избирателя и представлява изпълнение на
                гражданския му дълг.</p>
            <p>Винаги можете да изпълните гражданския си дълг чрез нашата система. Трябва ви само достъп до
                интернет.</p>
        </div>
    </div>
    {{>footer}}
    <script type="text/javascript" src="/js/bundle.js"></script>
</body>

</html>