<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/logo-small.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Избори България - Видове избори</title>
</head>

<body>
    {{>login}}
    {{>header}}
    <div id="gen-info-container">
        <h1>Държавно устройство на България <br>и видове избори</h1>
        <div>
            <p>България е единна парламентарна република с местно самоуправление и с ясно изразено разделение на
                властите:
                законодателна, изпълнителна и съдебна. Страната се управлява според върховният закон – Конституцията,
                приета
                през 1991 година, и законите на страната, а политическият живот се основава на принципа на политическия
                плурализъм.</p>
            <p>Избори в България са всички избори в България, на които чрез пряко гласуване на национално ниво се
                избират:
                парламентът (Народно събрание), президентът, местното управление и представителите в Европейския
                парламент. Изборите в България
                традиционно се провеждат в неделя.</p>
        </div>
        <ol>
            <li><a href="#elections-1">Парламентарни избори</a></li>
            <li><a href="#elections-2">Президентски избори</a></li>
            <li><a href="#elections-3">Метни избори</a></li>
            <li><a href="#elections-4">Избори за европейски парламент</a></li>
        </ol>
        <div id="banner"><img src="/img/gerb-bulgaria.png" alt="gerb" />
            <h1>Съединението прави силата!</h1><img src="/img/gerb-bulgaria.png" alt="gerb" />
        </div>
        <div id="elections-1">
            <h2>Парламентарни избори</h2>
            <div class="parallax">
                <p>Българският еднокамарен парламент, наречен Народно събрание, осъществява законодателната власт в
                    страната
                    и упражнява парламентарен контрол. Според <a
                        href="https://bg.wikipedia.org/wiki/%D0%A2%D1%8A%D1%80%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0_%D0%BA%D0%BE%D0%BD%D1%81%D1%82%D0%B8%D1%82%D1%83%D1%86%D0%B8%D1%8F">Търновската
                        конституция</a> в България има Обикновено народно събрание и Велико
                    народно събрание, а след отмяната ѝ, думата „обикновено“ отпада от наименованието на органа.</p>
                <p>Той се състои от 240 депутати, избирани за срок от 4 години. Гласува
                    се за списъци от кандидати на партии или коалиции за всеки от 31-те многомандатни избирателни
                    района. За
                    да бъде представена в Народното събрание, дадена партия или коалиция трябва да спечели най-малко 4%
                    от
                    гласовете.</p>
                <p>Гражданите могат да гласуват за партии, коалиции и независими кандидати. Всеки от тях получава
                    определен
                    брой гласове в абсолютен размер, като преди това са приспаднати недействителните гласове. Всеки
                    абсолютен размер, отнесен към общата сума на действителните гласове, дава тежестта на подкрепата за
                    партията. Въз основа на тези тегла се изчисляват и мандатите.</p>
                <p>Народното събрание е съставено от парламентарни групи и независими депутати, като парламентарните
                    групи
                    представляват дадена политическа партия, а те от своя страна своите избиратели.</p>
                <p>Народното събрание приема, изменя, допълва и отменя законите, приема държавния бюджет, установява
                    данъците и определя техния размер, насрочва избори за президент на републиката, приема решение за
                    произвеждане на национален референдум, одобрява структурата на Министерския съвет, назначава високи
                    държавни длъжности. В случаите на невъзможност за съставяне на правителство от новоизбраното народно
                    събрание, то се разпуска от президента, като това е съпроводено с назначаване на служебно
                    правителство и
                    насрочване на нови избори. Същото се случва и когато действащото правителство прекрати мандата си
                    предсрочно.</p>
                <p>Парламентарният контрол е дейност на народното събрание, при която народните представители (т.е.
                    депутатите) упражняват контрол върху изпълнителната власт (т.е. правителството), като отправят
                    питания,
                    по които се води дебат в пленарната зала на НС. Водещият парламентарния контрол дава думата на
                    питащите
                    да развият въпроса (въпросите) си, след което думата се дава на съответния министър. Традиционно
                    този
                    контрол се осъществява всеки петък и се излъчва пряко от <a
                        href="https://bg.wikipedia.org/wiki/%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D1%81%D0%BA%D0%B0_%D0%BD%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D0%BD%D0%B0_%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%B8%D1%8F">БНТ</a>.
                </p>
            </div>
        </div>
        <div id="elections-2">
            <h2>Президентски избори</h2>
            <div class="parallax">
                <p>Президентът на България е държавният глава на Република България. Той се подпомага от вицепрезидент.
                    Избира се пряко от българските граждани с мнозинство от 50% + 1 от гласувалите за срок от 5 години,
                    с възможност за едно преизбиране. Той
                    трябва да е български гражданин по рождение, навършил 40 години. Също така президентът и
                    вицепрезидентът не могат да бъдат народни представители, да изпълняват други държавни, обществени и
                    стопански дейности и да участват в ръководството на политически партии.</p>
                <p>Президентът е върховен главнокомандващ на Въоръжените сили, председател на Консултативния съвет за
                    национална сигурност. Макар да не притежава законодателна власт или инициатива, президентът има
                    право да върне законопроект за преразглеждане упражнявайки правото си на налагане на вето. Негово
                    правомощие е да отправя обръщения към народа, да обнародва законите в Държавен вестник, да
                    дава и отнема българско гражданство, да упражнява право на помилване и други.</p>
                <p>Президентът на България има правото да насрочва избори за Народно събрание и органи на местно
                    самоуправление. Той определя дата за произвеждане на национален референдум, след решение на
                    Народното събрание за провеждането му.</p>
                <p>От създаването на президентската институция в страната, България е имала 7 президента.</p>
            </div>
        </div>
        <div id="elections-3">
            <h2>Местни избори</h2>
            <div class="parallax">
                <p>За да се осъществи ефективно управление на страната, държавата извършва административно-териториално
                    деление, като се определят границите на така наречените административно-териториални единици. В
                    исторически план това деление е претърпявало редица изменения.</p>
                <p>Административно-териториалното деление на България понастоящем е 2-степенно – включва 28 области,
                    разделени на 265 общини.</p>
                <p>Областта е административно-териториална единица за провеждане на регионална
                    политика, за осъществяване на държавно управление по места и за осигуряване на съответствие между
                    националните и местните интереси. Управлението в областта се осъществява от областен управител,
                    подпомаган от областна администрация.</p>
                <p>Общините са основната административно-териториална единица в
                    съвременното административно-териториално деление на България, в която се осъществява местното
                    самоуправление. Общината обикновено носи името на населеното място, което е неин административен
                    център. Орган на местното самоуправление в общината е общинският съвет, който се избира от
                    населението на
                    общината за срок от 4 години.</p>
                <p>Районите за планиране са региони, обособени с цел статистическо отчитане на териториалните
                    единици
                    съгласно изискванията на Евростат. Не представляват административно-териториални единици. На 27
                    юли
                    2000 г. Министерският съвет определя 6 района за планиране на територията на България. По
                    демографски и икономически причини през 2017 – 2018 г. се подготвя процес на преобразуването им
                    в
                    нови райони.</p>
            </div>
        </div>
        <div id="elections-4">
            <h2>Избори за европейски парламент</h2>
            <div class="parallax">
                <p>Европейският парламент е единствената пряко избирана институция, която
                    представлява гражданите на Европейския съюз. Заедно със Съвета на Европейския съюз той осъществява
                    законодателната власт на ЕС.</p>
                <p>ЕП представлява 500 милиона души, колкото е близо общото население на 28-те държави – членки на
                    Европейския съюз. Неговата главна роля, като движеща политическа сила, е създаването на различни
                    инициативи. Членовете на Европейския парламент се избират чрез преки избори на всеки 5 години.
                    Парламентът се състои от 751 депутати от втория по големина демократичен електорат в света след
                    индийския и е най-големият международен електорат в света – 342 милиона избиратели през 2004 г.
                    Институцията еволюира заедно със Съюза и съществува първоначално като Европейска парламентарна
                    асамблея а по-късно е преименувана на Парламент.</p>
                <p>Основните задължения на Европейския парламент са: определянето на законите, които оказват влияние
                    върху ежедневието на европейските граждани, и на годишния бюджет на ЕС – правомощия, които той
                    споделя със Съвета на министрите (28 национални правителства на ЕС) в система, подобна на
                    двукамарна. Парламентът има също правомощия за контрол или надзор над останалите институции на ЕС:
                    той наблюдава как те работят и как изразходват парите на данъкоплатците. И накрая, но не на последно
                    място, Парламентът действа като проводник на тревогите на обществеността и може да поставя нови
                    въпроси за разглеждане в европейския политически дневен ред.</p>
            </div>
        </div>
    </div>
    {{>footer}}
    <script type="text/javascript" src="/js/bundle.js"></script>
</body>

</html>