<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/logo-small.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Избори България - Гласуване</title>
</head>

<body>
    {{>login}}
    {{>header}}
    {{!-- Success modal --}}
    <div id="mod" class="modal">
        <h2>Поздравления!</h2>
        <p>Гласувахте успешно.</p>
        <img src="/img/success.gif" alt="success">
    </div>
    <section id="vote-section">
        <label class="radio-button">
            <input type="radio" name="choice" value="Лека нощ">
            <div>
                <p>Лека нощ</p>
            </div>
            <img src="/img/sancho-thumb.jpg">
        </label>
        <label class="radio-button">
            <input type="radio" name="choice" value="Нова империя">
            <div>
                <p>Нова империя</p>
            </div>
            <img src="/img/vader-thumb.jpg">
        </label>
        <label class="radio-button">
            <input type="radio" name="choice" value="Близката гора">
            <div>
                <p>Близката гора</p>
            </div>
            <img src="/img/snejanka-thumb.jpg">
        </label>
        <label class="radio-button">
            <input type="radio" name="choice" value="Златните патоци">
            <div>
                <p>Златните патоци</p>
            </div>
            <img src="/img/uncle-s-thumb.jpg">
        </label>
        <label class="radio-button">
            <input type="radio" name="choice" value="Скръц-скръц">
            <div>
                <p>Скръц-скръц</p>
            </div>
            <img src="/img/night-king-thumb.jpg">
        </label>
        <label class="radio-button">
            <input type="radio" name="choice" value="Коалиция за червейчета">
            <div>
                <p>Коалиция за червейчета</p>
            </div>
            <img src="/img/timon-pumba-thumb.jpg">
        </label>
        <input class="btn disabled" id="voteSubmit" type="submit" value="Гласувайте" disabled>
        <a href="#mod" rel="modal:open" id="vote-success">Open Modal</a>
    </section>
    {{>footer}}
    <script type="text/javascript" src="/js/bundle.js"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</body>

</html>