<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/logo-small.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Избори България - Парламентарни избори 2025</title>
</head>

<body>
    {{>login}}
    {{>header}}
    <section id="voting-2025">
        <h1>Парламентарни избори 2025</h1>
        <div>
            <p>Народното събрание отговаря за приемането на закони, одобряването на държавния бюджет, установяването на
                данъците
                и размерите им, насрочването на президентски избори, избора и отзоваването на министър-председателя и
                другите
                членове на Министерския съвет, обявяването на война, разполагането на войски извън България и
                ратифицирането
                на
                международни договори и споразумения.</p>
            <p>Изборите за 46-то Народно събрание ще се проведат на <strong>16.03.2025г</strong>. Тук можете да намерите
                информация за всички
                процедури и срокове.</p>
        </div>
        <a href="/vote" class="btn" id="btn-vote2">Гласувайте</a>
        <div id="vote-info">
            <div id="see-parties">
                <h3>Партии, за които можете да гласувате:</h3>
                <ul>
                    <li>Лека нощ</li>
                    <li>Нова империя</li>
                    <li>Близката гора</li>
                    <li>Златните патоци</li>
                    <li>Скръц-скръц</li>
                    <li>Коалиция за червейчета</li>
                </ul>
                <p>Повече информация можете да намерите <a href="/parties-2025">ТУК</a></p>
            </div>
            <div id="vote-percent">
                <h3>Избирателна активност в държавата към момента:</h3>
                <p id="perc">{{percent}}%</p>
                <img src="/img/view_charts-512.png">
            </div>
        </div>
        <div id="elections-times">
            <h3>По-важни срокове:</h3>
            <ul>
                <div id="calendar">
                    <iframe
                        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%237CB342&amp;ctz=Europe%2FSofia&amp;src=YmcuYnVsZ2FyaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%231F753C&amp;showNav=0&amp;showDate=1&amp;showPrint=0&amp;showTz=1&amp;showCalendars=0&amp;showTitle=1&amp;showTabs=1"
                        width="400" height="400" frameborder="0" scrolling="no"></iframe>
                    <p>Повече подробности ще намерите в този файл: <a href="/files/Hronograma_NS_2017.doc"
                            download>Хронограма</a></p>
                </div>
                <li>ЦИК назначава РИК:<br><em>до 24.01.2025</em>;</li>
                <li>ЦИК определя условията и реда за провеждане на предизборната кампания:<br><em>до
                        29.01.2025</em>;
                </li>
                <li>ЦИК определя реда и условията за предоставяне и разходване на средствата за медийните пакети,
                    съгласувано с министъра на финансите:<br><em>до 29.01.2025</em>;</li>
                <li>ЦИК предоставя информация, организира и провежда чрез средствата за масово осведомяване
                    разяснителна кампания относно правата и задълженията на гражданите в подготовката и
                    произвеждането на изборите, включително и относно машинното гласуване:<br><em>до
                        29.01.2025</em>;
                </li>
                <li>ЦИК регистрира партиите и коалициите за участие в изборите:<br><em>до 29.01.2025</em>;</li>
                <li>ЦИК утвърждава техническия образец и защитата на бюлетината. ЦИК утвърждава образец на кочан с
                    хартиените бюлетини:<br><em>до 13.02.2025</em>;</li>
                <li>Откриване на предизборната кампания:<br><em>от 14.02.2025</em>;</li>
                <li>ЦИК определя условията и реда за извършване на социологически проучвания в изборния
                    ден:<br><em>до 25.02.2025</em>;</li>
                <li>Избирател, чийто постоянен и настоящ адрес са в различни населени места, може да поиска да бъде
                    вписан в избирателния списък по настоящ адрес:<br><em>до 02.03.2025</em>;</li>
                <li>Партиите, коалициите и инициативните комитети премахват поставените от тях агитационни
                    материали:<br><em>до 23.04.2025</em>;</li>
            </ul>
        </div>
        <div id="voters-info">
            <h3>За избирателите:</h3>
            <table>
                <tr>
                    <td>Проверка в списъка на лицата, подкрепящи регистрацията на партия или коалиция за участие в
                        изборите за народни представители</td>
                    <td><a href="https://www.cik.bg/bg/361" class="btn">Проверка</a></td>
                </tr>
                <tr>
                    <td>Проверка на адрес на избирателна секция</td>
                    <td><a href="https://www.cik.bg/bg/ns2017/voters/sik_addresses" class="btn">Проверка</a></td>
                </tr>
                <tr>
                    <td>Относно издаване на удостоверения по чл. 263, ал. 1 от ИК</td>
                    <td><a href="/files/Относно издаване на удостоверения по чл. 263, ал. 1 от ИК.pdf"
                            class="btn">Свали</a></td>
                </tr>
                <tr>
                    <td>При изгубен/откраднат/повреден/унищожен документ за самоличност ЛИЧНА КАРТА- Образец № 1</td>
                    <td><a href="/files/При изгубеноткраднатповреденунищожен документ за самоличност ЛИЧНА КАРТА- Образец № 1.pdf"
                            class="btn">Свали</a></td>
                </tr>
                <tr>
                    <td>При изгубен/откраднат/повреден/унищожен документ за самоличност ЛИЧЕН (ЗЕЛЕН) ПАСПОРТ - Образец
                        № 2</td>
                    <td><a href="/files/При изгубен откраднат повреден унищожен документ за самоличност ЛИЧЕН (ЗЕЛЕН) ПАСПОРТ - Образец № 2.pdf"
                            class="btn">Свали</a></td>
                </tr>
                <tr>
                    <td>Когато няма издавана лична карта/личен(зелен) паспорт - Образец № 3</td>
                    <td><a href="/files/Когато няма издавана лична карталичен(зелен) паспорт - Образец № 3.pdf"
                            class="btn">Свали</a></td>
                </tr>
                <tr>
                    <td>При документ за самоличност (лична карта) с изтекъл срок - Образец № 4</td>
                    <td><a href="/files/При документ за самоличност (лична карта) с изтекъл срок - Образец № 4.pdf"
                            class="btn">Свали</a></td>
                </tr>
            </table>
        </div>
    </section>
    {{>footer}}
    <script type="text/javascript" src="/js/bundle.js"></script>
</body>

</html>