<footer>
    <div id="up">Обратно горе</div>
    <div class="container-flex">
        <div class="logo"><img src="/img/gerb-bulgaria.png" alt="gerb" />
        </div>
        <div class="links">
            <h3>Намерете, каквото търсите:</h3>
            <ul>
                <li><a href="/faq">Често задавани въпроси</a></li>
                <li><a href="/contacts">Контакти</a></li>
            </ul>
        </div>
        <div class="links">
            <h3>Полезни връзки:</h3>
            <div>
                <ul>
                    <li><a href="http://www.parliament.bg/bg" target="_blank">Народно събрание</a></li>
                    <li><a href="http://www.government.bg/" target="_blank">Министерски съвет</a></li>
                    <li><a href="https://www.president.bg/" target="_blank">Президент</a></li>
                    <li><a href="https://www.mvr.bg/" target="_blank">Министерство на вътрешните работи</a></li>
                </ul>
                <ul>
                    <li><a href="https://www.mfa.bg/" target="_blank">Министерство на външните работи</a></li>
                    <li><a href="https://www.cik.bg/bg" target="_blank">Централна избирателна комисия</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="bottom">
        <p>&copy; 2020 Кристина Бонева.</p>
    </div>
</footer>