<header>
    <div class="container-flex">
        <div class="logo"> <a href="/"><img src="/img/logo.png" alt="logo" /></a> </div>
        <div>
            <a href="" class="btn" id="login">Вход</a>
            <a href="/profile" id="profile" style="display: none;"></a>
            <a href="" class="btn" id="logout" style="display: none;">Изход</a>
        </div>
    </div>
    <nav>
        <a class="btn-mob-nav">
            <p>Меню</p>
            <i class="fa fa-bars"></i>
        </a>
        <ul>
            <li>
                <a href="/">Начало</a>
            </li>
            <li>
                <a href="/voting-2025">Избори 2025</a>
            </li>
            <li>
                <a href="/general-info">Видове избори</a>
            </li>
            <li>
                <a href="/archive">Архиви</a>
            </li>
        </ul>
    </nav>
</header>