<div id="id01" class="modalLogin">
    <form class="modal-content animate">
        <span class="close" title="Close Modal">&times;</span>
        <div class="container">
            <h3>Входни данни</h3>
            <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i></label>
            <input type="text" placeholder="Електронна поща" name="email" required autocomplete="username">

            <label for="psw"><i class="fa fa-lock" aria-hidden="true"></i></label>
            <input type="password" placeholder="Парола" name="psw" required autocomplete="current-password">

            <button type="submit" id="submit">Вход</button>
            <a href="/register">Регистрация</a>
            <p id="message"></p>
        </div>
    </form>
</div>