* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: $bg-colour;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (max-width: 1023px) {
        font-size: 14px;
    }
}

h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-green;

    @media screen and (max-width: 767px) {
        font-size: 1.3rem;
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding: 0 20px;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 700;
}

a {
    color: $text-green;
    text-decoration: none;
    text-shadow: none;
    font-weight: bold;

    &:hover {
        color: $text-green-hover;
        text-decoration: underline;
    }
}

//for buttons (inputs)
.disabled {
    background: grey !important;
    background-image: none !important;

    &:hover {
        background: grey;
        cursor: default !important;
    }
}

.wrap-words {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

header {
    border-bottom: 1px solid $grey-colour;

    .container-flex {
        @include container($align: center);
        border-bottom: 1px solid $grey-colour;

        .logo a {
            display: inline-block;
            width: 200px;
            margin: 10px 0;

            @media screen and (max-width: 767px) {
                width: 130px;
            }

            @media screen and (max-width: 375px) {
                margin: 0;
                width: 245px;
            }
        }

        .logo img {
            @extend %image-style;
        }

        .logo+div {
            @media screen and (max-width: 375px) {
                width: 100%;
                display: flex;
                flex-flow: row;
                justify-content: flex-end;
            }
        }

        .btn {
            @include btn-style;

            @media screen and (max-width: 767px) {
                font-size: 12px;
                height: 35px;
                line-height: 35px;
                margin: 5px 0;
            }
        }

        #profile {
            margin: 5px 0;
            margin-right: 10px;
            font-size: 18px;
            vertical-align: sub;
            flex-grow: 1;
        }
    }

    nav {
        line-height: 34px;
        background-image: linear-gradient(#fff, $text-green);

        ul {
            float: right;
            width: 100%;
            text-align: right;
            list-style-type: none;
            padding: 5px 15px;
            margin-bottom: 0;

            @media screen and (max-width: 767px) {
                visibility: hidden;
                position: absolute;
            }

            li {
                margin-left: 20px;
                display: inline-block;

                a {
                    display: block;
                    position: relative;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #000;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        bottom: 3px;
                        left: 0;
                        background-color: #000;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.2s ease-in-out;
                        transition: all 0.2s ease-in-out;
                    }

                    &:hover {
                        color: #000;
                        text-decoration: none;
                    }

                    &:hover:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }

        .btn-mob-nav {
            float: left;
            margin-left: 15px;
            color: #000;
            text-decoration: none;
            display: none;

            @media screen and (max-width: 767px) {
                display: block;
                height: 34px;
            }

            p {
                display: inline;
                vertical-align: text-bottom;
                font-size: 1.8rem;
            }

            .fa {
                color: #000;
                font-size: 1.8rem;
            }
        }

        .mob-nav {
            visibility: visible;
            width: 100%;
            text-align: left;
            background-color: rgba(20, 20, 20, 0.5);
            position: absolute;
            top: 79px;
            left: 0;
            z-index: 1;
            padding: 0;

            @media screen and (max-width: 375px) {
                top: 124px;
            }

            li {
                display: block;
                width: 100%;
                margin-left: 0;

                &:hover {
                    background-color: rgba(20, 20, 20, 0.8);
                    cursor: pointer;
                }

                a {
                    display: block;
                    width: 100%;
                    padding: 5px 20px;
                    box-sizing: border-box;
                    color: #fff;

                    &:before {
                        background-color: #fff;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        &::after {
            content: "";
            clear: both;
            display: block;
        }
    }
}