// Current elections info page styles

#voting-2025 {
    text-align: center;
    margin: 30px 0;
    padding: 0 20px;

    h1+div {
        width: 60%;
        margin: 0 auto;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    p {
        margin-bottom: 10px;
    }

    #btn-vote2 {
        @include btn-style(80px);
        width: 30%;
        margin: 20px auto;
        font-size: 1.3rem;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    #vote-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 20px 0;

        #vote-percent {
            width: 49%;

            #perc {
                text-align: center;
                font-size: 4rem;
                font-weight: 700;
            }

            img {
                width: 30%;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
                margin-top: 20px;
            }
        }

        #see-parties {
            width: 50%;
            text-align: left;

            ul {
                margin-bottom: 20px;

                li {
                    margin-left: 20px;
                    font-weight: 700;
                }
            }

            a {
                font-size: 1.4rem;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }

    #elections-times {
        text-align: left;
        padding: 20px 0;

        ul {
            #calendar {
                float: right;
                width: 40%;
                margin-left: 10px;
                border: 1px solid $text-green;

                iframe {
                    width: 100%;
                    height: 300px;
                }

                p {
                    padding: 0 5px;
                }

                a {
                    font-size: 1.4rem;
                }

                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 20px;
                    margin-left: 0;
                }
            }

            li {
                margin-left: 20px;
            }
        }
    }

    #voters-info {
        padding: 20px 0;
        text-align: justify;

        table {
            width: 100%;

            td {
                padding: 10px;
                border-bottom: 1px solid $text-green;
            }
        }

        .btn {
            @include btn-style;
        }
    }
}